video
nilai
slides/comp_science_465/
slides/error_detection_and_correction.odp
slides/kapasitas_kanal.html
slides/pens/
slides/rasio_energi_sinyal_per_bit_terhadap_densitas_daya_noise_per_hz.html
slides/slide_1/
slides/slide_2/
*.~lock*
*.aux
*.synctex.gz
*.toc
*.log
*.nav
*.out
*.snm
slides/2022/01.Pengantar_Komunikasi_Data.pdf
